{
    "env": { 
        "browser": true,
        "node": true,
        "jquery": true 
    },
    "extends": ["airbnb/base", "jquery"],
    "rules": {
        "linebreak-style": 0,
        "space-in-parens": ["error", "never"],
        "one-var": ["error", "consecutive"],
        "indent": ["error", 4],
        "array-bracket-spacing": ["error", "never"]
      }
}